@model ChatService.Models.AccountTemplate

@{ 
    ViewData["Title"] = "Sign up";
}

@using (Html.BeginForm("Signup", "Home", "POST"))
{
    <div class="panel">
        <h3>@ViewBag.Result</h3>
    </div>
    <div class="panel panel-default">
        <label for="user">Username</label>
        @Html.TextBoxFor(m => m.Username, new { id = "user" })
        <!--<input id="user" type="text" name="username" />-->
    </div>
    <div class="panel panel-default">
        <label for="pass">Password</label>
        @Html.PasswordFor(m => m.Passcode, new { id = "pass" })
        <!--<input id="pass" type="password" name="password" />-->
    </div>
    <div class="panel panel-default">
        <label for="repass">Re-Password</label>
        @Html.PasswordFor(m => m.Repasscode, new { id = "repass" })
        <!--<input id="repass" type="password" name="repassword" />-->
    </div>
    <div class="panel panel-default">
        <label for="display">Display name</label>
        @Html.TextBoxFor(m => m.DisplayName, new { id = "display" })
        <!--<input id="display" type="text" name="displayname" />-->
    </div>
    <div>
        <label></label>
        <input type="hidden" name="seed" value="" />
        <button type="submit">Sign up</button>
    </div>
}